body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.is-dots {
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}
/* CustomFont.eot */
@font-face {
  font-family: "Avenir";
  src: url("./avenir-font/AvenirLTStd-Medium.woff");
}
